@import "tailwindcss";

@theme {
  --shadow-3xl: 8px 8px 10px rgba(0, 0, 0, 0.2),
    -2px -2px 10px rgba(0, 0, 0, 0.2);
  --shadow-4xl: 1px 1px 7px rgba(0, 0, 0, 0.1), -1px -1px 7px rgba(0, 0, 0, 0.1);

  --color-headcolor: #114639;

  --color-brown-700: #34180e;
  --color-brown-500: #755f56;
  --color-backicon: #bcaaa3;
  --color-icon: #5e5551;
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@font-face {
  font-family: "moraba-regular";
  src: url("../public/fonts/Morabba-Regular.woff");
}
body {
  background-color: #f4f4f4;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 56 28' width='56' height='28'%3E%3Cpath fill='%23755f56' fill-opacity='0.11' d='M56 26v2h-7.75c2.3-1.27 4.94-2 7.75-2zm-26 2a2 2 0 1 0-4 0h-4.09A25.98 25.98 0 0 0 0 16v-2c.67 0 1.34.02 2 .07V14a2 2 0 0 0-2-2v-2a4 4 0 0 1 3.98 3.6 28.09 28.09 0 0 1 2.8-3.86A8 8 0 0 0 0 6V4a9.99 9.99 0 0 1 8.17 4.23c.94-.95 1.96-1.83 3.03-2.63A13.98 13.98 0 0 0 0 0h7.75c2 1.1 3.73 2.63 5.1 4.45 1.12-.72 2.3-1.37 3.53-1.93A20.1 20.1 0 0 0 14.28 0h2.7c.45.56.88 1.14 1.29 1.74 1.3-.48 2.63-.87 4-1.15-.11-.2-.23-.4-.36-.59H26v.07a28.4 28.4 0 0 1 4 0V0h4.09l-.37.59c1.38.28 2.72.67 4.01 1.15.4-.6.84-1.18 1.3-1.74h2.69a20.1 20.1 0 0 0-2.1 2.52c1.23.56 2.41 1.2 3.54 1.93A16.08 16.08 0 0 1 48.25 0H56c-4.58 0-8.65 2.2-11.2 5.6 1.07.8 2.09 1.68 3.03 2.63A9.99 9.99 0 0 1 56 4v2a8 8 0 0 0-6.77 3.74c1.03 1.2 1.97 2.5 2.79 3.86A4 4 0 0 1 56 10v2a2 2 0 0 0-2 2.07 28.4 28.4 0 0 1 2-.07v2c-9.2 0-17.3 4.78-21.91 12H30zM7.75 28H0v-2c2.81 0 5.46.73 7.75 2zM56 20v2c-5.6 0-10.65 2.3-14.28 6h-2.7c4.04-4.89 10.15-8 16.98-8zm-39.03 8h-2.69C10.65 24.3 5.6 22 0 22v-2c6.83 0 12.94 3.11 16.97 8zm15.01-.4a28.09 28.09 0 0 1 2.8-3.86 8 8 0 0 0-13.55 0c1.03 1.2 1.97 2.5 2.79 3.86a4 4 0 0 1 7.96 0zm14.29-11.86c1.3-.48 2.63-.87 4-1.15a25.99 25.99 0 0 0-44.55 0c1.38.28 2.72.67 4.01 1.15a21.98 21.98 0 0 1 36.54 0zm-5.43 2.71c1.13-.72 2.3-1.37 3.54-1.93a19.98 19.98 0 0 0-32.76 0c1.23.56 2.41 1.2 3.54 1.93a15.98 15.98 0 0 1 25.68 0zm-4.67 3.78c.94-.95 1.96-1.83 3.03-2.63a13.98 13.98 0 0 0-22.4 0c1.07.8 2.09 1.68 3.03 2.63a9.99 9.99 0 0 1 16.34 0z'%3E%3C/path%3E%3C/svg%3E");
}
.swiper-pagination {
  background-color: rgb(255, 255, 255) !important;
  bottom: 0px !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
  width: 130px !important;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  position: relative;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.swiper-pagination::after {
  content: "";
  width: 40px;
  height: 100%;
  transform: skew(40deg) !important;
  position: absolute;
  bottom: 0px;
  right: -10px;
  background-color: white;
  display: block;
  border-top-right-radius: 10px;
}
.swiper-pagination::before {
  content: "";
  width: 40px;
  height: 100%;
  transform: skew(-40deg) !important;
  position: absolute;
  bottom: 0px;
  left: -10px;
  background-color: white;
  display: block;
  border-top-left-radius: 10px;
}

.swiper-pagination-bullet-active {
  background-color: #755f56 !important;
}
.swiper-button-prev::after,
.swiper-button-next::after {
  color: white !important;
  font-size: 30px !important;
}
.moraba-regular {
  font-family: "moraba-regular";
  -moz-font-feature-settings: "ss01";
  -webkit-font-feature-settings: "ss01";
  font-feature-settings: "ss01";
}
@font-face {
  font-family: "moraba-bold";
  src: url("../public/fonts/Morabba-Bold.woff");
}
.moraba-bold {
  font-family: "moraba-bold";
  -moz-font-feature-settings: "ss01";
  -webkit-font-feature-settings: "ss01";
  font-feature-settings: "ss01";
}
@font-face {
  font-family: "moraba-heavy";
  src: url("../public/fonts/Morabba-Heavy.woff");
}
.moraba-heavy {
  font-family: "moraba-heavy";
  -moz-font-feature-settings: "ss01";
  -webkit-font-feature-settings: "ss01";
  font-feature-settings: "ss01";
}
@font-face {
  font-family: "shabnam";
  src: url("../public/fonts/Shabnam.ttf");
  -moz-font-feature-settings: "ss01";
  -webkit-font-feature-settings: "ss01";
  font-feature-settings: "ss01";
}
.shabnam {
  font-family: shabnam;
}
.truncate-2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; /* start showing ellipsis when 3rd line is reached */
  white-space: pre-wrap;
}
.container-bg {
  background-color: #f3f3f3;
}
#animate-fade {
  animation: fadeInDownBig 0.4s ease;
}
@keyframes fadeInDownBig {
  0% {
    transform: translate3d(0, -100%, 0);
  }
  100% {
    transform: none;
  }
}
.Toastify__toast--error {
  border: 1px solid rgb(52, 24, 14);
  border-radius: 5px !important;
  background: #755f56 !important;
  font-family: "moraba-bold" !important;
}
.Toastify__toast {
  border: 1px solid rgb(52, 24, 14);
  border-radius: 5px !important;
  background: #755f56 !important;
  font-family: "moraba-bold" !important;
  color: white !important;
}
.swal-title {
  font-size: 1.6rem !important;
  font-family: "moraba-bold" !important;
}
.swal-footer {
  font-family: "moraba-bold" !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swal-button--confirm {
  transition: all 0.2s;
  background-color: rgb(0, 104, 67) !important;
}
.swal-button--confirm:hover {
  background-color: rgb(0, 53, 34) !important;
}
#animate-proile {
  animation: fade-in 0.3s ease-in-out;
}
@keyframes fade-in {
  from {
    opacity: 0;
    transform: scale(0.9) translateY(-1em) translateX(-2em);
    transform-origin: top;
  }
  to {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}
#rating svg:hover,
#rating svg:hover ~ svg {
  color: orange; /* رنگ هنگام هاور */
}
#adminMenuBack {
  animation: fading 0.3s;
}
@keyframes fading {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.range::-webkit-slider-thumb {
  background-color: #000000;
  border: none;
  box-shadow: 0 0 1px 1px #ced4da;
  cursor: pointer;
  height: 20px;
  width: 6px;
  margin-top: 1px;
  pointer-events: all;
  position: relative;
  border-radius: 10px;
}

/* For Firefox browsers */
.range::-moz-range-thumb {
  background-color: #f1f5f7;
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 1px 1px #ced4da;
  cursor: pointer;
  height: 18px;
  width: 18px;
  margin-top: 4px;
  pointer-events: all;
  position: relative;
}
.range,
.range::-webkit-slider-thumb {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}

.range {
  pointer-events: none;
  position: absolute;
  height: 0;
  width: 100%;
  outline: none;
  z-index: 3;
  background: rgb(0, 0, 0);
  height: 2px;
}
body {
  margin: auto;
  max-width: 2000px;
}

/*loading style */

@keyframes ldio-x2uulkbinbj {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.ldio-x2uulkbinbj div {
  left: 128.34px;
  top: 27.599999999999998px;
  position: absolute;
  animation: ldio-x2uulkbinbj linear 0.8474576271186441s infinite;
  background: #755f56;
  width: 19.32px;
  height: 38.64px;
  border-radius: 9.66px / 10.4328px;
  transform-origin: 9.66px 110.39999999999999px;
}
.ldio-x2uulkbinbj div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -0.8071025020177564s;
  background: #755f56;
}
.ldio-x2uulkbinbj div:nth-child(2) {
  transform: rotate(17.142857142857142deg);
  animation-delay: -0.7667473769168686s;
  background: #755f56;
}
.ldio-x2uulkbinbj div:nth-child(3) {
  transform: rotate(34.285714285714285deg);
  animation-delay: -0.7263922518159807s;
  background: #755f56;
}
.ldio-x2uulkbinbj div:nth-child(4) {
  transform: rotate(51.42857142857143deg);
  animation-delay: -0.6860371267150929s;
  background: #755f56;
}
.ldio-x2uulkbinbj div:nth-child(5) {
  transform: rotate(68.57142857142857deg);
  animation-delay: -0.6456820016142051s;
  background: #755f56;
}
.ldio-x2uulkbinbj div:nth-child(6) {
  transform: rotate(85.71428571428571deg);
  animation-delay: -0.6053268765133173s;
  background: #755f56;
}
.ldio-x2uulkbinbj div:nth-child(7) {
  transform: rotate(102.85714285714286deg);
  animation-delay: -0.5649717514124294s;
  background: #755f56;
}
.ldio-x2uulkbinbj div:nth-child(8) {
  transform: rotate(120deg);
  animation-delay: -0.5246166263115416s;
  background: #755f56;
}
.ldio-x2uulkbinbj div:nth-child(9) {
  transform: rotate(137.14285714285714deg);
  animation-delay: -0.4842615012106538s;
  background: #755f56;
}
.ldio-x2uulkbinbj div:nth-child(10) {
  transform: rotate(154.28571428571428deg);
  animation-delay: -0.44390637610976597s;
  background: #755f56;
}
.ldio-x2uulkbinbj div:nth-child(11) {
  transform: rotate(171.42857142857142deg);
  animation-delay: -0.4035512510088782s;
  background: #755f56;
}
.ldio-x2uulkbinbj div:nth-child(12) {
  transform: rotate(188.57142857142858deg);
  animation-delay: -0.36319612590799033s;
  background: #755f56;
}
.ldio-x2uulkbinbj div:nth-child(13) {
  transform: rotate(205.71428571428572deg);
  animation-delay: -0.32284100080710254s;
  background: #755f56;
}
.ldio-x2uulkbinbj div:nth-child(14) {
  transform: rotate(222.85714285714286deg);
  animation-delay: -0.2824858757062147s;
  background: #755f56;
}
.ldio-x2uulkbinbj div:nth-child(15) {
  transform: rotate(240deg);
  animation-delay: -0.2421307506053269s;
  background: #755f56;
}
.ldio-x2uulkbinbj div:nth-child(16) {
  transform: rotate(257.14285714285717deg);
  animation-delay: -0.2017756255044391s;
  background: #755f56;
}
.ldio-x2uulkbinbj div:nth-child(17) {
  transform: rotate(274.2857142857143deg);
  animation-delay: -0.16142050040355127s;
  background: #755f56;
}
.ldio-x2uulkbinbj div:nth-child(18) {
  transform: rotate(291.42857142857144deg);
  animation-delay: -0.12106537530266345s;
  background: #755f56;
}
.ldio-x2uulkbinbj div:nth-child(19) {
  transform: rotate(308.57142857142856deg);
  animation-delay: -0.08071025020177564s;
  background: #755f56;
}
.ldio-x2uulkbinbj div:nth-child(20) {
  transform: rotate(325.7142857142857deg);
  animation-delay: -0.04035512510088782s;
  background: #755f56;
}
.ldio-x2uulkbinbj div:nth-child(21) {
  transform: rotate(342.85714285714283deg);
  animation-delay: 0s;
  background: #755f56;
}
.loadingio-spinner-spinner-nq4q5u6dq7r {
  width: 276px;
  height: 276px;
  display: inline-block;
  overflow: hidden;
  background: #ffffff;
}
.ldio-x2uulkbinbj {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-x2uulkbinbj div {
  box-sizing: content-box;
}
